.upload-files {
    padding: 0.75rem;
    padding-bottom: -1rem !important;
    color: #1d1a1a;
    border-radius: 0.25rem !important;
    background-color: #0782bb2c !important;
}

.file-input {
    margin-bottom: -1rem;
}

.submit-progress-form {
    width: 100% !important;
    font-size: 1.04rem !important;
    margin-left: 0rem !important;
    border-radius: 0.25rem !important;
}